body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #635b5b;
}

h1 {
  text-align: center;
}

.menu {
  text-align: center;
  margin-bottom: 20px;
}

.menu button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 10px #aaa;
  min-height: 100px;
  font-size: 18px;
}
